body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 550px;
}

.purple {
  background: #6441a5;
  color: #fff;
}

.header {
  display: flex;
  vertical-align: middle;
  height: 60px;
}

.display-flex {
  display: flex;
}

.heading {
  margin: 10px 0 20px;
}

.online {
  color: #5cb85c;
}

.offline {
  color: #d9534f;
}

.streamers {
  padding: 25px;
}

li .list-unstyled {
  padding-left: 25px;
}

li {
  position: relative;
}

.fa-times {
  position: absolute;
  left: -15px;
  top: 2px;
  color: #ccc;
  cursor: pointer;
}

.streamer-online {
  margin-bottom: 20px;
}

.remove-all {
  position: relative;
}

.spacing {
  padding: 0px 15px;
}

.spacing .col-xs-3 {
  padding: 0;
}
